<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"  
      xmlns:h="http://java.sun.com/jsf/html"
      template="/admin.xhtml">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body>
<ui:debug hotkey="x" rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}"/>

<div id="header">
    <ui:insert name="header">
    	 <h:outputStylesheet library="css" name="showcase.css"/>
        <h:outputStylesheet library="css" name="prism.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome-jsf.css" />

        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>

        <title>Crud AdminFaces</title>
    </ui:insert>
</div>

 	
	  	<ui:define name="logo-lg">
	        Karanalpe
	    </ui:define>
	
	    <ui:define name="logo-mini">
	        K
	    </ui:define>

	    <ui:define name="menu-begin">
	        <ui:include src="/includes/menu-search.xhtml"/>
	    </ui:define>
	
	     <ui:define name="menu">
	         <ui:include src="/includes/menu.xhtml"/>
	     </ui:define>
	
	    <ui:define name="top-menu">
	        <ui:include src="/includes/top-menu.xhtml"/>
	    </ui:define>

		<div id="content">
		  <ui:insert name="content">
		  			 
		  </ui:insert>
		</div>
	
		<div id="footer">
		  <ui:insert name="footer">
		    	<a target="_blank"
			           href="http://karanalpe.com.br/">
			            Copyright (C) 2017 - Karanalpe
			        </a>
			        <div class="pull-right hidden-xs" style="color: gray">
			            <i>v1.0</i>
			        </div>
			
			        <h:outputScript library="js" name="prism.js"  target="head"/>
		  </ui:insert>
		</div>

</body>

</html>
